html {
    height: 100%;
}
body {
    background-color: #fff;
    position: relative;
    background-color: #000;
    width: 100%;
    height: 100vh;
}

.planet, .sun {
    position: absolute;
}

.planet img,
.sun img {
    width: 100%;
    height: auto;
}

.star {
    position: absolute;
}
